<nav>
  <div class="site-title">
    <a href="/"><h1>Moodle</h1></a>
    <p>Ensino à Distância</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/disciplina/create">Novo Disciplina</a></li>
  </ul>
</nav>
